body {
    font-family: Cambria;
}

.geral {
    display: flex;
    justify-content: space-between ;
}

.container {
    flex: 1;
    text-align: center;
}

.container2 {
    flex: 1;
    text-align: center;
}

.container3{
    flex: 1;
    text-align: center;
}