body {
    font-family: Cambria;
    background-color: rgb(201, 151, 129);
}

.geral {
    padding-top: 5%;
    display: flex;
    justify-content: space-between ;
}

.container {
    flex: 1;
    text-align: center;
}

.container2 {
    flex: 1;
    text-align: center;
}

.container3{
    flex: 1;
    text-align: center;
}

.ratinho{
    text-align: center;
    padding-top: 10%;
}
img{
    width: 20%;
    height: auto;
}